<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Autone.ttf</string>
		<string>1942.ttf</string>
		<string>Acens.ttf</string>
		<string>AirForce_Regular.ttf</string>
		<string>Akira_Outline.ttf</string>
		<string>AlmaMono_Bold.ttf</string>
		<string>ModernAge.ttf</string>
		<string></string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>AmaticSC-Regular.ttf</string>
		<string>BebasNeue-Regular.ttf</string>
		<string>Codystar-Regular.ttf</string>
		<string>FugazOne-Regular.ttf</string>
		<string>LibreBarcode39Text-Regular.ttf</string>
		<string>Megrim-Regular.ttf</string>
		<string>NixieOne-Regular.ttf</string>
		<string>Monoton-Regular.ttf</string>
		<string>Quicksand-VariableFont_wght.ttf</string>
		<string>Rajdhani-Medium.ttf</string>
		<string>RobotoMono-VariableFont_wght.ttf</string>
		<string>ShadowsIntoLight-Regular.ttf</string>
		<string>Shalimar-Regular.ttf</string>
		<string>SourceCodePro-VariableFont_wght.ttf</string>
		<string>YsabeauSC-VariableFont_wght.ttf</string>
		<string>RobotoCondensed-Regular.ttf</string>
		<string>Freedom45.ttf</string>
		<string>JapanRich-Regular.ttf</string>
		<string>Rashavine.ttf</string>
		<string>Spacetron.otf</string>
		<string>Applentosh.ttf</string>
		<string>Bygonest Typewriter.ttf</string>
		<string>Inlander.ttf</string>
		<string>Patrick Rastelo.otf</string>
		<string>Torsae.otf</string>
	</array>
</dict>
</plist>
